
.tab1 {
    width: 330px;
    display: flex;
    text-align: center;
}

#bubbleDisplay {
    margin: 0;
    float: right;
}

.BubbleImage {
    transform-origin: 50% 50%;
    transition-duration: .5s;
    user-select: none;
    margin-top: 80%;
}

.BubbleImage:hover {
    transform: scale(1.1)
}

.BubbleImage:active {
    transform: scale(1.05);
    transition-duration: .025s;
}


.tab1 {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #daf8f0;
    /*background-image: url("/images/ocean.jpg");*/
}
/*
#ccd6e9 	(204,214,233)
#cadfe3 	(202,223,227)
#cfe7ec 	(207,231,236)
#d3f0f2 	(211,240,242)
#daf8f0 	(218,248,240)
*/
.tabList {
    background-color: #ccd6e9 ;
    color: #ffffff;
    padding: 5px;
    font-size: 30px;
    font-weight: 800;
}

button {
    color: #ffffff;
    background-color: #cadfe3;
    font-size: 20px;
    border: none;
    padding: 5px;
}

.costDisplay {
    color: white;
    display: inline-block;
    font-size: 20px;
    background-color: #ccd6e9;
    padding: 5px;
}


#upgrade1 {
    margin-top: 15px;
}

/* Styling for the scrolling container */
.scrolling-container {
    background-color: white;;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border: 2px solid #000;
    margin: 10px auto;
    position: relative;
}

.artifact-slot {
    display: flex;
    position: relative;
    left: 0;
    transition: left 0.5s ease;
    width: 100px;
    height: 200px;
}

.artifact-img {
    width: 100px;
    height: 100px;
    margin-right: 0px;
    
/* Artifact images */
.artifact-img {
    width: 100px; /* Adjust this to match the image width */
    height: auto;
    display: inline-block;
}


/* Falling animation */
@keyframes fallIn {
    0% {
        opacity: 0;
        top: -200px;
    }
    50% {
        opacity: 1;
        top: -100px;
    }
    100% {
        opacity: 1;
        top: 0px;
    }
}

/* Add the animation to the artifact images */
.artifact-img.fall-in {
    animation: fallIn 1s ease-out forwards;
}

}
